body {
    margin: 20px;
    font-family: Courier New, Courier, monospace;
}

.avatar {
    width: 150px;
    border-radius: 100%;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e6e7e9;
    color: #2b2839;
    border: 7px solid #405b48;
    border-radius: 5px;
    box-shadow: 10px 10px #3c382c;
    transform: rotate(0deg);
    transition: transform 1s;
}

.card:hover {
  transform: rotate(360deg);
}

 
